html{
  display: grid;
  grid-area: auto auto;

  box-sizing: border-box;
  font-size: 62.5%;    
}

*,*::before,*::after{
  box-sizing: inherit;
}

body{
  display: grid;
  grid-area: auto auto;

  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  background-color: antiquewhite;
}

header{
  display: grid;
  grid-area: auto auto;
  color: burlywood;

  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.nav li a {
  background-color:rgb(226, 113, 43)
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
}

.grid-layout{
  display: grid;
  grid-area: auto auto;

  width: 90%;
  margin: 0 auto;
  background-color: bisque;
}

ul{
  display: grid;
  grid-area: auto auto;

  color: black;
  border: 4px; color: black;
  background-color: rgb(226, 113, 43);
  
}

h2{
  text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

img{
  display: grid;
  grid-area: auto auto;

  max-width: 50%;
  border: 100px;color: black;
  image-orientation: from-image;
}

.contenedor{
  display: grid;
  grid-area: auto auto;

  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

iframe{
  align-items: center;
  max-width: 95%;
  border: 3px;
  border-color: black;
}

footer{
  display: grid;
  grid-area: auto auto;
  
  background-color: brown;
  color: antiquewhite;
}